body {
  background-color: rgb(17, 19, 34);
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(255, 145, 0);
  padding-bottom: 20px;
  background-color: rgb(17, 43, 70);
  width: 100%;
  color: white;
  margin-bottom: 40px;
}

.pie1 {
  background-color: rgb(0, 8, 67);
  border-top: 2px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 410px;
}

.pie2 {
  background-color: rgb(0, 8, 67);
  border-top: 2px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 70px;
}

.boton {
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(44, 73, 102);
  border: 0px;
  padding: 10px;
  color: white;
}

.contenedor {
  border: 1px solid gray;
  background-color: rgb(22, 26, 62);
  padding: 20px 40px;
  width: 1000px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.blanco {
  color: white;
}

.naranja {
  color: orange;
}

.escenario {
  width: 1000px;
}

table,
tr,
th,
td {
  border: 1px solid gray;
  text-align: center;
  width: 1000px;
}

.tabla1 {
    background-color: rgb(0, 8, 67);
}